In [112]:
import pandas as pd
import numpy as np

import seaborn as sns

In [113]:
df_train = pd.read_csv("C:/Saurabh/mlops ineuron/End to End Project/artifacts/train.csv") 
df_test = pd.read_csv("C:/Saurabh/mlops ineuron/End to End Project/artifacts/test.csv")

In [114]:
df_train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [115]:
df_train.shape, df_test.shape

((193573, 11), (129050, 10))

In [116]:
df_train.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [117]:
df_train.describe()

,id,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,96786.000000,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,55879.856166,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.000000,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,48393.000000,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,96786.000000,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,145179.000000,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,193572.000000,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [118]:
df_train[df_train.price > 12000].sort_values(by=["price"], ascending=False).head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
180559,180559,2.15,Premium,E,SI2,61.7,58.0,8.34,8.31,5.10,18818
153958,153958,2.00,Very Good,F,SI1,59.2,60.0,8.09,8.14,4.86,18818
9224,9224,2.00,Very Good,G,SI1,63.5,56.0,8.03,7.97,5.05,18818
59270,59270,2.29,Premium,G,SI1,62.6,57.0,8.37,8.33,5.23,18818
123163,123163,1.70,Ideal,G,VS1,61.7,55.0,7.70,7.60,4.73,18818

In [119]:
df_train.cut.value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [120]:
df_train.color.value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [121]:
df_train.clarity.value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64

In [122]:
X = df_train.drop(['id', 'price'], axis=1)
y = df_train["price"]

In [123]:
X.head(2)

   carat        cut color clarity  depth  table     x     y     z
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05

In [124]:
y.head(2)

0    13619
1    13387
Name: price, dtype: int64

In [125]:
cat_cols = X.select_dtypes(include="object").columns
num_cols = X.select_dtypes(exclude="object").columns

In [126]:
cat_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [127]:
num_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [130]:
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [111]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import OrdinalEncoder 

from sklearn.pipeline  import Pipeline
from sklearn.compose import ColumnTransformer

In [133]:
num_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer()),
        ("scaler", StandardScaler())
    ]   
)

In [134]:
cat_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("encoder", OrdinalEncoder(categories=[cut_categories, color_categories,clarity_categories]))
    ]
)

In [135]:
preprocessor = ColumnTransformer(
    [
        ("cat_cols", cat_pipeline, cat_cols),
        ("num_cols", num_pipeline, num_cols)    
     ]
    )

In [136]:
from sklearn.model_selection import train_test_split

In [150]:
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [151]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(135501, 9)
(58072, 9)
(135501,)
(58072,)

In [152]:
preprocessor.fit_transform(X_train)

array([[ 4.        ,  4.        ,  2.        , ...,  1.05930697,
         1.01631984,  1.0579126 ],
       [ 2.        ,  4.        ,  3.        , ..., -1.28858422,
        -1.28296875, -1.29253824],
       [ 3.        ,  4.        ,  3.        , ..., -0.28621529,
        -0.26510186, -0.27060309],
       ...,
       [ 4.        ,  0.        ,  5.        , ..., -1.27955387,
        -1.25570445, -1.24874102],
       [ 3.        ,  4.        ,  2.        , ...,  1.36633889,
         1.40710802,  1.46668666],
       [ 3.        ,  0.        ,  1.        , ...,  0.8335482 ,
         0.87999838,  0.86812465]])

In [153]:
preprocessor.fit_transform(X_test)

array([[ 2.        ,  3.        ,  3.        , ..., -1.16813837,
        -1.15302476, -1.11979924],
       [ 3.        ,  2.        ,  2.        , ..., -0.0103169 ,
        -0.06896656, -0.0310248 ],
       [ 2.        ,  1.        ,  2.        , ...,  0.35767286,
         0.31045381,  0.39875458],
       ...,
       [ 1.        ,  5.        ,  3.        , ...,  1.46164217,
         1.60228984,  1.18668345],
       [ 2.        ,  5.        ,  3.        , ...,  0.99492344,
         0.95185492,  1.00044572],
       [ 2.        ,  6.        ,  2.        , ...,  2.03606522,
         1.96364258,  2.1321981 ]])

In [155]:

preprocessor.get_feature_names_out()

array(['cat_cols__cut', 'cat_cols__color', 'cat_cols__clarity',
       'num_cols__carat', 'num_cols__depth', 'num_cols__table',
       'num_cols__x', 'num_cols__y', 'num_cols__z'], dtype=object)

In [156]:
X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.fit_transform(X_test), columns=preprocessor.get_feature_names_out())

In [158]:
X_train.head()

,cat_cols__cut,cat_cols__color,cat_cols__clarity,num_cols__carat,num_cols__depth,num_cols__table,num_cols__x,num_cols__y,num_cols__z
0,4.0,4.0,2.0,0.971850,0.255322,-0.639281,1.059307,1.016320,1.057913
1,2.0,4.0,3.0,-1.063121,-0.115306,0.925791,-1.288584,-1.282969,-1.292538
2,3.0,4.0,3.0,-0.435311,-0.207963,0.925791,-0.286215,-0.265102,-0.270603
3,3.0,2.0,3.0,-0.175528,0.903920,0.404100,0.002756,-0.019723,0.065176
4,4.0,0.0,3.0,-1.019824,0.070008,-1.682662,-1.216341,-1.192088,-1.190345

In [170]:
X_test.head()

,cat_cols__cut,cat_cols__color,cat_cols__clarity,num_cols__carat,num_cols__depth,num_cols__table,num_cols__x,num_cols__y,num_cols__z
0,2.0,3.0,3.0,-0.968373,0.357251,0.398770,-1.168138,-1.153025,-1.119799
1,3.0,2.0,2.0,-0.193282,0.081350,0.918662,-0.010317,-0.068967,-0.031025
2,2.0,1.0,2.0,0.258854,0.909054,0.918662,0.357673,0.310454,0.398755
3,4.0,2.0,2.0,-0.171752,0.265284,-0.641015,-0.010317,0.030405,0.040605
4,4.0,4.0,6.0,-0.107161,-1.206189,-0.641015,0.124313,0.138811,0.011953

In [172]:
y_test.head()

191934     596
116555    2013
148689    3544
140929    2671
99400     3205
Name: price, dtype: int64

In [174]:
y_train.head()

102043    6098
94490      457
122451    1563
151504    2882
30813      972
Name: price, dtype: int64

In [160]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [179]:
models = {
    "LR" : LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "RF" : RandomForestRegressor(),
    "XGB" : XGBRegressor()   
}

In [181]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    
    print("Model training performance", model)
    print("r2_score: ", r2_score(preds, y_test))
    print("RMSE: ", mean_squared_error(preds, y_test)**0.5)
    print("MAE: ", mean_absolute_error(preds, y_test))
    print("---" * 70)

Model training performance LinearRegression()
r2_score:  0.9308835762815288
RMSE:  1025.702309936485
MAE:  679.8032956521985
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Model training performance Lasso()
r2_score:  0.9309098296305525
RMSE:  1024.4204976671842
MAE:  680.5597034466642
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Model training performance Ridge()
r2_score:  0.9308813677651686
RMSE:  1025.698627649253
MAE:  679.8262965408009
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Model training performance RandomForestRegressor()
r2_score:  0.9765830018782375
RMSE:  611.9668213846177
MAE:  313.2955949566985
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Model training performance XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)
r2_score:  0.9778464406640807
RMSE:  591.9565464942846
MAE:  304.0794399769645
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------