In [112]:
import pandas as pd
import numpy as np

import seaborn as sns

In [113]:
df_train = pd.read_csv("C:/Saurabh/mlops ineuron/End to End Project/artifacts/train.csv") 
df_test = pd.read_csv("C:/Saurabh/mlops ineuron/End to End Project/artifacts/test.csv")

In [114]:
df_train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [115]:
df_train.shape, df_test.shape

((193573, 11), (129050, 10))

In [116]:
df_train.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [117]:
df_train.describe()

,id,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,96786.000000,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,55879.856166,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.000000,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,48393.000000,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,96786.000000,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,145179.000000,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,193572.000000,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [118]:
df_train[df_train.price > 12000].sort_values(by=["price"], ascending=False).head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
180559,180559,2.15,Premium,E,SI2,61.7,58.0,8.34,8.31,5.10,18818
153958,153958,2.00,Very Good,F,SI1,59.2,60.0,8.09,8.14,4.86,18818
9224,9224,2.00,Very Good,G,SI1,63.5,56.0,8.03,7.97,5.05,18818
59270,59270,2.29,Premium,G,SI1,62.6,57.0,8.37,8.33,5.23,18818
123163,123163,1.70,Ideal,G,VS1,61.7,55.0,7.70,7.60,4.73,18818

In [119]:
df_train.cut.value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [120]:
df_train.color.value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [121]:
df_train.clarity.value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64

In [122]:
X = df_train.drop(['id', 'price'], axis=1)
y = df_train["price"]

In [123]:
X.head(2)

   carat        cut color clarity  depth  table     x     y     z
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05

In [124]:
y.head(2)

0    13619
1    13387
Name: price, dtype: int64

In [125]:
cat_cols = X.select_dtypes(include="object").columns
num_cols = X.select_dtypes(exclude="object").columns

In [126]:
cat_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [127]:
num_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [130]:
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [111]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import OrdinalEncoder 

from sklearn.pipeline  import Pipeline
from sklearn.compose import ColumnTransformer

In [133]:
num_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer()),
        ("scaler", StandardScaler())
    ]   
)

In [134]:
cat_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("encoder", OrdinalEncoder(categories=[cut_categories, color_categories,clarity_categories]))
    ]
)

In [135]:
preprocessor = ColumnTransformer(
    [
        ("cat_cols", cat_pipeline, cat_cols),
        ("num_cols", num_pipeline, num_cols)    
     ]
    )

In [136]:
from sklearn.model_selection import train_test_split

In [137]:
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size=0.30)

NameError: name 'X_train' is not defined